.searchInput {
  margin: auto;
  display: block;
  width: 75%;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: rgb(219, 214, 214);
  margin: 10px;
}

.searchInput:focus {
  background-color: white;
}

.container {
  margin-top: 25px;
}
