.NoteContentContainer {
  background-color: rgb(223, 223, 223);
  padding: 25px;
  margin-left: -12px;
}

.NoteContentCheckColorBtnGreen {
  padding: 20px;
  margin-top: 15px;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  border: none;
  background-color: green;
}

.NoteContentCheckColorGrey {
  background-color: Grey;
  padding: 20px;
  margin-top: 15px;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  border: none;
}
.NoteContentCheckColorBlue {
  background-color: blue;
  padding: 20px;
  margin-top: 15px;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  border: none;
}
.NoteContentCheckColorYellow {
  background-color: yellow;
  padding: 20px;
  margin-top: 15px;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  border: none;
}

.submitButton {
  background-color: black;
  padding: 10px;
  margin: auto;
  display: block;
  margin-top: 25px;
  color: white;
  border-radius: 10px;
  margin-bottom: -10px;
}

.submitButton:hover {
  background-color: gray;
}

.colorBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}

h1,
h4 {
  text-align: center;
}

img {
  margin-bottom: 15px;
  margin-left: -5px;
}
