.bgLight {
  background-color: #fff;
}

.bgYellow {
  background-color: #ffc107;
}

.bgGreen {
  background-color: #20c997;
}

.bgBlue {
  background-color: #0dcaf0;
}

.bgGrey {
  background-color: rgb(128, 128, 128);
}
