.bgLight {
  background-color: #fff;
}

.bgYellow {
  background-color: yellow;
}

.bgGreen {
  background-color: green;
}

.bgBlue {
  background-color: blue;
}

.bgGrey {
  background-color: grey;
}
